@tailwind base;
@tailwind components;
@tailwind utilities;


.min-w-sidebar{
    min-width: 5rem;
}

.sidebar-fix{
    width: 80px;
}

@media  (min-width: 1024px) {
    .sidebar-fix {
        width: 237.391px;
    }
  }
